@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&family=Noto+Sans+KR:wght@100..900&display=swap');
.p {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

@media (min-width: 768px) {
    .mypage-link img {
        width: 30px; /* 작은 화면에서 이미지 크기 조정 */
        display: inline-block; /* 이미지가 사라지지 않도록 보장 */
    }
}

@media (min-width: 480px) {
    .mypage-link img {
        width: 30px; /* 더 작은 화면에서 이미지 크기 조정 */
        display: inline-block; /* 이미지가 사라지지 않도록 보장 */
    }
}