@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&family=Noto+Sans+KR:wght@100..900&display=swap');
.p {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* 다른 요소들 위에 오도록 z-index 설정 */
    background-color: white; /* 배경색 설정 */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* 살짝 그림자 추가 */
  }
  
@media (max-width: 1250px) {
    .aiboogi {
        display: none;
    }
    .hwan {
        display: none;
    }
}
