.public-art-card {
  width: 250px;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  cursor: pointer;
  border: 1px solid rgb(206, 206, 206);
  border-radius: 10px;
  /* box-shadow: 0 2px 4px rgba(0,0,0,0.1); */
}
.public-art-card:hover{
  box-shadow: 4px 4px 8px rgba(0,0,0,0.1);
}


.public-art-image {
  width: 250px;
  height: 250px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.add {
  overflow: hidden;
  text-overflow: ellipsis;
}